@import './abstracts/mixins';
@import './abstracts/variables';
@import './base/typography';
@import './layout/appwrap';
@import './layout/main';
@import './layout/nav';
@import './layout/specials';
@import './components/beer';
@import './components/button';
@import './components/modal';


.notdisplayed{
    display: none;
}

.content {
    width: 55vw;
    background: #EAEAEA;
    padding: 1em;
    margin-left: 20vw;
    height: 100vh;
    overflow: scroll;
}

.orders {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 25vw;
    background: #EAEAEA;
    box-shadow: 0px 0px 15px 1px #0000002e;

    &__header{
        text-align: center;
        padding: 1em 0;
        background: #516169;
        color: #fff;
    }
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__lower {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        padding: 1em;
    }
    &__content{
        padding: 1em;
    }
    &__none{
        padding: 1em;
        background-color: #fff;
    }
}

.content--main{
    width: 80vw;
    background: #EAEAEA;
    padding: 0;
    margin-left: 20vw;
    height: 100vh;
    overflow: hidden;
}

.beers{
    &__items{

    display: grid;
    grid-gap: 1em;
    }
    &__line {
        border-top-color: #516169;
        margin-top: 0.5em;
    }
    
}


.order{
    background-color: #fff;
    padding: 1em;

    &--unconfirmed{
    border-left: 3px solid #db7c7c;
    }
    &--confirmed{
        border-left: 3px solid #7cdb7c;
    }

    &__quantity-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__total-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__info {
        font-size: 0.9em;
    }
    &__quantity-wrapper {
        font-size: 0.9em;
    }
    &__total-wrapper {
        font-size: 0.9em;
    }
}

.foods{
    &__items{

    display: grid;
    grid-gap: 1em;
    }
    &__line {
        border-top-color: #516169;
        margin-top: 0.5em;
    }
    
}

.brunch{
    background: #fff;
    display: flex;
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        padding: 1em;
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    &__image {
        max-height: 130px;
    }
    &__allergy {
        align-self: flex-end;
        font-size: 0.9em;
    }
    &__info {
        padding-bottom: 0.3em;
        font-size: 0.9em;
    }
    &__name{
        font-size: 1em;
    }
    &__price{
        font-size: 1em;
    }
}


.splash{
    background: url("/assets/splash.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #44505d63;
        z-index: 0;
    }
    &__logo{
        z-index: 2;
        width: 280px;
    }

}

