.beer{
    background: #fff;
    padding: 1em;
    display: flex;
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    &__image {
        max-height: 80px;
        padding-right: 1em;
    }
    &__percentage {
        align-self: flex-end;
    }
    &__percentage {
        align-self: flex-end;
        font-size: 0.9em;
    }
    &__info {
        padding-bottom: 0.3em;
        font-size: 0.9em;
    }
    &__name{
        font-size: 1em;
    }
    &__price{
        font-size: 1em;
    }
}

