
.brunch{
    background: #fff;
    display: flex;
    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        padding: 1em;
    }
    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    &__image {
        max-height: 130px;
        @include larger {
                max-height: 170px;
         }
    }
    &__allergy {
        align-self: flex-end;
        font-size: 0.9em;
        @include larger{
            font-size: 1.2em;
          }
    }
    &__info {
        padding-bottom: 0.3em;
        font-size: 0.9em;
        @include larger{
            font-size: 1.2em;
          }
    }
    &__name{
        font-size: 1em;
        @include larger{
            font-size: 1.5em;
          }
    }
    &__price{
        font-size: 1em;
        @include larger{
            font-size: 1.5em;
          }
    }
}