.button{
    background-color: $secondary;
    text-align: center;
    padding: 0.2em 0.7em;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    @include larger{
        font-size: 1.2em;
      }

    &--secondary{
        border: 1px solid $secondary;
        background-color: transparent;
        color: $secondary;
    }
    &--disabled{
        opacity: .3;
    }
    &--red{
        background-color: #db7c7c;
    }

}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: none;
}