.button{
    background-color: #7cdb7c;
    text-align: center;
    padding: 0.2em 0.7em;
    color: #fff;
    text-transform: uppercase;
    border: none;
    font-size: 0.9em;

    &--secondary{
        border: 1px solid #7cdb7c;
        background-color: transparent;
        color: #7cdb7c;
    }
    &--disabled{
        opacity: .3;
    }

}