.modal-content {
    border: none;
    border-radius: 0;
}

.modal-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-footer>:not(:last-child) {
    margin-right: 1rem;
}
.modal-footer>:not(:first-child) {
    margin-left: 1rem;
}